*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-style: normal;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --image: url(../img/white.avif);
}
body{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-size: 100%;
}
.fa-solid {
    font-size: 30px;
    color: var(--black);
}
header{
    padding: 30px;
}
header.flex{
    justify-content: flex-end;
}
.kalkulatori{
    width: 400px;
    border-radius: 32px;
    margin: 50px auto;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    background-color: var(--white);
}
.calcHEAD{
    padding: 150px 20px 50px 20px;
}
.calcHEAD .answer{
    text-align: right;
    font-size: 32px;
    color: var(--black);
}
.calcMAIN{
    flex-wrap: wrap;
    padding: 20px;
}
.button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e5e5e5;
    margin-bottom: 20px;
    font-size: 24px;
}
.gray{
    background-color: #808080;
}
.orange{
    background-color: #f09536;
}
.button.flex{
    justify-content: center;
}
.zero{
    width: 170px;
    border-radius: 80px;
}